.container{
    width: 100%;
    height: auto;
}


.menu-bar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: cornflowerblue;
    position: fixed;

}
.menu-bar-1 {
    flex: 1;
    display: flex;
}
.menu-bar-2 {
    flex: 2;
}
.menu-bar-3 {
    flex: 1;
}


.menu-bar-1 ul{
display: flex;
    list-style: none;

}
.menu-bar-2 ul{
    display: flex;
    list-style: none;

}
.menu-bar-3 ul{
    display: flex;
    list-style: none;

}

.menu-bar-2-li{
    margin-left: 80px;
   padding-left: 10px;


}
.menu-bar-3 li{
    margin-left: 40px;
}
.menu-bar-1-find{
    display: flex;
}
.menu-bar-1-find-1{
    border-radius: 5px;
    position: relative;
}
.menu-bar-1-find-2{
    position: absolute;
    top: 0;

    color: red;
}
/*css con ten*/
.content{
    width: 100% ;
    height: auto;
    padding-top: 70px;
    display: flex;



}
.content .left{
    width: 25%;
    height: auto;
    border: 1px black solid;


}
.left ul li{
    list-style: none;
    margin-right: 20px;
    color: black;
    font-weight: bold;


}
.left ul{
    display: flex;
    padding: 20px;

}


.content .center{
    width: 60%;
    height: auto;
    border: 1px black solid;
}

.center-img ul{
    display: flex;
    list-style: none;
    justify-content: space-around;


}
.center-img{
    /*position: relative;*/
    margin-right: 30px;
    padding: 0px;

}
.center-img li img{
    width: 130px;
    height: 120px;

}






.content .right{
    width: 15%;
   height: auto;
    border: 1px black solid;

}


