.col-12-header{
    height: 60px;
    background-color: brown;
    display: flex;

}
.col-12-header img{
    height: 50px;
    width: 60px;
    padding-top: 5px;
}
.col-12-header p{
    margin-left: 10px;
}
.col-12-heaer-link ul{
    display: flex;
    list-style: none;
    text-align: center;
    margin-left: 300px;
}
.col-12-heaer-link a{
    text-decoration: none;
    margin-left: 10px;
    padding-left: 10px;
    font-weight: bold;


}

.content-right{
    width: 35%;
    height: auto;
}
.content-left{
    width: 65%;
    height: auto;
}

.content-right-1 iframe{
    width: 450px;
    height: 250px;
}
.col-12-content{
    display: flex;
    height: auto;

}
.content-left iframe{
    width: 850px;
    height: 500px;
}
@media screen and(max-width: 486px) {
    [class*=col-]{
        width: 100%;
    }

}
@media screen and(max-width: 768px) {
    [class*=col-]{
        width: 50%;
    }

}